.upload-dragger-control {
    .ant-upload {
        min-height: 70px;
        padding: 0 !important;

        .img-upload {
            font-size: 25px;
            color: #1890ff;
            margin: 0 10px;
        }

        span {
            vertical-align: middle;
        }
    }

    .img {
        margin: 0 15px;
    }
}
